{:hs-server.core/db
 {:options {:dbtype "postgresql"
            :dbname "hs-db"
            :host "localhost"
            :port 5432
            :user "postgres"
            :password "123"}}

 :hs-server.core/app
 {:options {:service-uri "http://127.0.0.1:5555"}
  :db #ig/ref :hs-server.core/db}

 :hs-server.core/server
 {:options {:host "127.0.0.1"
            :port 5555
            :join? false}
  :app #ig/ref :hs-server.core/app}}